/* estilos.css */

/*Se definen variables que guardan valores para poder reutilizarlos en el codigo*/
:root {

    --fuente-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --color-primario: #802F33;
    --color-secundario: #E3B845;
    --color-botones: #1a4a5b;
}

/*ayuda a que la pagina sea responsive*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-base);
}

.menu {
    background-color: var(--color-primario);
}

.contenido {
    background-color: #F4EDE5;
    font-family: var(--fuente-base);
    color: #2C2A26;
}

.banner-boton {
    background-color: var(--color-botones);
    color: #F4EDE5;
    border: 1px solid #F4EDE5;
    padding: 8px 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.banner-boton:hover {
    background-color: var(--color-secundario);
    transform: scale(1.1);

}


.menu .nav-link {
    color: #F4EDE5 ; 
}


.menu .nav-link:hover {
    color: var(--color-secundario); 
}


.imagen-inicio {
  max-height: 500px;
}
